%h1.heading
  = 'New Admin'
  
- semantic_form_for(@admin, :url => { :controller => 'admins', :action => 'create' }) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', admin_admins_path