- form.inputs do
  = form.input :name, :label => 'Name'
  = form.input :email, :label => 'Email'
  = form.input :password, :label => 'Password'
  = form.input :password_confirmation, :label => 'Password Confirmation'