- content_tag_for(:tr, subdomain, :class => cycle(:odd, :even)) do
  %td.name= link_to subdomain.name, site_site_path(subdomain,subdomain)
  %td.actions
    = link_to 'Destroy', user_subdomain_url(subdomain.user,subdomain), :confirm => 'Are you sure?', :method => :delete
