%h1.heading
  = 'New User'
  
- semantic_form_for(@user) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', users_path